.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

input{
    font-size: 35px;
    border: 5px solid skyblue;
    border-radius: 16px;
}

button{
    font-size: 33px;
    background: chartreuse;
    width: 102px;
    height: 70px;
    border-radius: 18px;
    margin: 4px;
}

.calculator{
    display: inline-block;
    background: yellow;
    padding: 23px;
    border-radius: 26px;
    border: 8px solid orange;
}

button:hover{
    background-color: pink;
}